h2.h-title {
    position: relative;
    font-size: 150px;
    font-weight: 700;
    color: #fff;
}

h2 .row {
    margin-bottom: -3.5vw;
    padding: 0 10px 0 3px;
    margin-left: -4px;
}

span.stroke-h {
    -webkit-text-stroke: .02em rgba(255, 255, 255, 0.3);
    color: transparent;
}

.navigation-wrapper ul {
  margin-left: 100px;
  list-style: none;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .navigation-wrapper ul {
    margin-left: 15px;
    list-style: none;
    position: relative;
    margin-top: 100px;
  }
}


.navigation-item {
  display: block;
  user-select: none;
  margin: 120px 0;
}

.navigation-item a {
  font-size: 80px;
  text-decoration: none;
  -webkit-text-stroke: .02em rgba(255, 255, 255, 0.3);
  color: transparent;
}

@media screen and (max-width: 767px) {
  .navigation-item a {
    font-size: 36px;
    text-decoration: none;
    -webkit-text-stroke: .02em rgba(255, 255, 255, 0.3);
    color: transparent;
  }
}

.navigation-item span {
  position: relative;
}

.navigation-item span:before {
  width: 0;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.navigation-item span:hover:before {
  width: 100%;
}

.project-preview-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
}

.project-preview {
  position: fixed;
  top: 15%;
  left: 50%;
  width: 0px;
  height: 600px;
  background: url(https://via.placeholder.com/450) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 36px -12px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 10px 10px 36px -12px rgba(0, 0, 0, 0.61);
  box-shadow: 10px 10px 36px -12px rgba(0, 0, 0, 0.61);
}
