.scroll-down span{
    display: block;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: rotateZ(270deg);
    left: 49%;
    bottom:35px;
    
}
.scroll-down::after{
    display: block;
    width: 1px;
    height: 100px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    animation: fill-line infinite 3s;
}

.scroll-down::before{
    display: block;
    width: 1px;
    height: 100px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: rgb(139, 139, 139);
}

@keyframes fill-line {
    from {background-color: #fff; height: 0px; bottom: 0px;}
    
    50% {background-color: #fff; height: 100px; bottom: 0px;}
    75% {background-color: #fff; height: 0px; bottom: 100px;}

    to {background-color: #fff; height: 0px; bottom: 0px;}
    }