.params-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    color: #fff;
    right: 20px;
    bottom:35px;
}

.params-box .params-item{
    padding: 15px 20px;
    max-width: 150px;
}

.params-item .num{
    font-size: 32px;
    font-weight: bold;   
}

.params-item .text{
    font-size: 14px;
}

.delay-0{
    animation: fadeIn 1.5s forwards;
    
}
.delay-05{
    animation: fadeIn 2s forwards;
    
}
.delay-1{
    animation: fadeIn 2.4s forwards;
    
}

.params-item .text{
    color: rgb(179, 179, 179);
}



@keyframes fadeIn{
    from{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

