$LinkColor: red;
$TitleSize: 75px;
$boxpadding: 0 0 0 100px;

.section-1{
    background-color:rgb(26, 26, 26);
    height: 100vh;
    position: relative;
    .container-fluid{
        display: flex;
        flex-wrap: wrap;
    }
}

.header-title{
    font-size: 86px;
}

.header-subtitle{
    font-size: 29px;
    
}

.large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
}
 
 .demo {
    background-image: url("./header.png");
    background-size: cover;
    background-position: center center;
    z-index: 1;
 }
 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 35%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
 }
 

 
 .main-title .thin {
    font-weight: 200;
 }
 
 
.navbrand-box{
    width: 320px
}
.navbrand-box a{
    margin-left: 25%;
}

.navbrand-box a::after{
    content: "Лучшие проекты";
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
    text-decoration: underline;
}

.LinkButton{
    color: $LinkColor;
    transition: .4s;
    display: inline-block;
    position: relative;
    font-size: inherit;
}

.LinkButton::after{
    display: block;
    position: absolute;
    content: "";
    background-color: $LinkColor;
    width: 100%;
    bottom: -11%;
    left: 0;
    right: 0;
    height: 2px;
    transition: .4s
    
}
.LinkButton:hover::after{
    transition: .8s ;
    width: 50%;
    
}

.LinkButton:hover{
    color: rgba($LinkColor, 0.6);
    text-decoration: none;
    transition: .4s;
}

.section-2{
    padding: $boxpadding;
    padding-top: 100px;
}

.section-pretitle{
    display: block;
    color: rgb(167, 167, 167);
    width: 100%;
    height: auto;
    font-size: 21px;
    margin-bottom: 40px;
}

.section-title{
    font-size: $TitleSize;
    line-height: 1.1;
    font-weight: 600;
}

.cards-box{
    margin-top: 60px;
}

.card-body{
    max-width: 33.33%;
    display: inline-block;
    padding: 100px 50px;
    
}

.card-title{
    font-weight: bold;
    padding: 15px 0 0px 0;
    font-size: 24px;
}
.parallax-overlap {
    position: relative;
}

@media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }

 .padding-l {
    padding-left: 100px;
}
 
.section-3{
    background-color: #000;
    position: relative;
    display: block;
}


