.strip {
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgba(128, 128, 128, 0.4);
    z-index: 9999;
  }
  
  .null {
    left: 5%;
  }
  
  .one {
    left: 25%;
  }
  
  .two {
    left: 50%;
  }
  
  .three {
    left: 75%;
  }